@charset "utf-8";

/* **************************************************

Name: set_wide.css

Description: Setting of import file

Create: 2011.10.12
Update: 8888.88.88

Copyright 2011 Hitachi, Ltd. 

***************************************************** */



/* content===========================================

1: Normal Setting
2: Wide Setting

===================================================== */



/* 1: Normal Setting
=========================================================================================== */

/* */
@import "../basic.css"/**/;
@import "../layout.css"/**/;
@import "../module.css"/**/;
@import "../grid.css"/**/;
/* */


/* 2: Wide Setting
=========================================================================================== */
/* */
@import "wide_layout.css"/**/;
@import "wide_module.css"/**/;
@import "wide_grid.css"/**/;
/* */


