@charset "utf-8";

/* **************************************************

Name: wide_grid.css

Description: Setting of grid layout

Create: 2011.10.12
Update: 8888.88.88

Copyright 2011 Hitachi, Ltd. 

***************************************************** */



/* content===========================================

[-] Grid Set
[cc] Column Set
[-] Module width setting in columns & grid
[-] Common class

===================================================== */



/* [-] Grid Set
=========================================================================================== */

div.Grid4 { width: 965px; }
div.Grid3 { width: 720px; }
div.Grid1 {
width: 230px;
}



/* [cc] Column Set
=========================================================================================== */

div.Grid4 div.Column3 { width: 720px; }
div.Grid4 div.Column2,
div.Grid3 div.Column2 {width: 475px;}
div.Grid3 div.Column1andHalf {width: 353px;}
div.Grid4 div.Column1,
div.Grid3 div.Column1 {width: 230px;}



/* [-] Module width setting in columns & grid
=========================================================================================== */

/* ---Grid4--- */
div.Grid4 dl.ButtonW120SetStyle1 dd,
div.Grid4 dl.ButtonW120SetStyle2 dd { width: 830px; }
div.Grid4 dl.ButtonW180SetStyle1 dd,
div.Grid4 dl.ButtonW180SetStyle2 dd { width: 770px; }
div.Grid4 dl.ButtonW230SetStyle1 dd,
div.Grid4 dl.ButtonW230SetStyle2 dd { width: 720px; }
div.Grid4 dl.ButtonW240SetStyle1 dd,
div.Grid4 dl.ButtonW240SetStyle2 dd { width: 710px; }

div.Grid4 dl.ButtonW120SetStyle3 dd,
div.Grid4 dl.ButtonW120SetStyle4 dd { width: 815px; }
div.Grid4 dl.ButtonW180SetStyle3 dd,
div.Grid4 dl.ButtonW180SetStyle4 dd { width: 755px; }
div.Grid4 dl.ButtonW230SetStyle3 dd,
div.Grid4 dl.ButtonW230SetStyle4 dd { width: 705px; }
div.Grid4 dl.ButtonW240SetStyle3 dd,
div.Grid4 dl.ButtonW240SetStyle4 dd { width: 695px; }

div.Grid4 div.ImgW60SetStyle div.ImgSet { width: 890px; }
div.Grid4 div.ImgW120SetStyle div.ImgSet { width: 830px; }
div.Grid4 div.ImgW180SetStyle div.ImgSet { width: 770px; }
div.Grid4 div.ImgW230SetStyle div.ImgSet { width: 720px; }	

/* ---Grid4 in Box--- */
div.Grid4 .BoxPatternA dl.ButtonW120SetStyle1 dd,
div.Grid4 .BoxPatternB dl.ButtonW120SetStyle1 dd,
div.Grid4 .BoxPatternC dl.ButtonW120SetStyle1 dd,
div.Grid4 .BoxPatternA dl.ButtonW120SetStyle2 dd,
div.Grid4 .BoxPatternB dl.ButtonW120SetStyle2 dd,
div.Grid4 .BoxPatternC dl.ButtonW120SetStyle2 dd { width: 806px; }

div.Grid4 .BoxPatternA dl.ButtonW120SetStyle3 dd,
div.Grid4 .BoxPatternB dl.ButtonW120SetStyle3 dd,
div.Grid4 .BoxPatternC dl.ButtonW120SetStyle3 dd,
div.Grid4 .BoxPatternA dl.ButtonW120SetStyle4 dd,
div.Grid4 .BoxPatternB dl.ButtonW120SetStyle4 dd,
div.Grid4 .BoxPatternC dl.ButtonW120SetStyle4 dd { width: 791px; }

div.Grid4 .BoxPatternA dl.ButtonW180SetStyle1 dd,
div.Grid4 .BoxPatternB dl.ButtonW180SetStyle1 dd,
div.Grid4 .BoxPatternC dl.ButtonW180SetStyle1 dd,
div.Grid4 .BoxPatternA dl.ButtonW180SetStyle2 dd,
div.Grid4 .BoxPatternB dl.ButtonW180SetStyle2 dd,
div.Grid4 .BoxPatternC dl.ButtonW180SetStyle2 dd { width: 746px; }

div.Grid4 .BoxPatternA dl.ButtonW180SetStyle3 dd,
div.Grid4 .BoxPatternB dl.ButtonW180SetStyle3 dd,
div.Grid4 .BoxPatternC dl.ButtonW180SetStyle3 dd,
div.Grid4 .BoxPatternA dl.ButtonW180SetStyle4 dd,
div.Grid4 .BoxPatternB dl.ButtonW180SetStyle4 dd,
div.Grid4 .BoxPatternC dl.ButtonW180SetStyle4 dd { width: 731px; }

div.Grid4 .BoxPatternA dl.ButtonW230SetStyle1 dd,
div.Grid4 .BoxPatternB dl.ButtonW230SetStyle1 dd,
div.Grid4 .BoxPatternC dl.ButtonW230SetStyle1 dd,
div.Grid4 .BoxPatternA dl.ButtonW230SetStyle2 dd,
div.Grid4 .BoxPatternB dl.ButtonW230SetStyle2 dd,
div.Grid4 .BoxPatternC dl.ButtonW230SetStyle2 dd { width: 696px; }

div.Grid4 .BoxPatternA dl.ButtonW230SetStyle3 dd,
div.Grid4 .BoxPatternB dl.ButtonW230SetStyle3 dd,
div.Grid4 .BoxPatternC dl.ButtonW230SetStyle3 dd,
div.Grid4 .BoxPatternA dl.ButtonW230SetStyle4 dd,
div.Grid4 .BoxPatternB dl.ButtonW230SetStyle4 dd,
div.Grid4 .BoxPatternC dl.ButtonW230SetStyle4 dd { width: 681px; }

div.Grid4 .BoxPatternA dl.ButtonW240SetStyle1 dd,
div.Grid4 .BoxPatternB dl.ButtonW240SetStyle1 dd,
div.Grid4 .BoxPatternC dl.ButtonW240SetStyle1 dd,
div.Grid4 .BoxPatternA dl.ButtonW240SetStyle2 dd,
div.Grid4 .BoxPatternB dl.ButtonW240SetStyle2 dd,
div.Grid4 .BoxPatternC dl.ButtonW240SetStyle2 dd { width: 686px; }

div.Grid4 .BoxPatternA dl.ButtonW240SetStyle3 dd,
div.Grid4 .BoxPatternB dl.ButtonW240SetStyle3 dd,
div.Grid4 .BoxPatternC dl.ButtonW240SetStyle3 dd,
div.Grid4 .BoxPatternA dl.ButtonW240SetStyle4 dd,
div.Grid4 .BoxPatternB dl.ButtonW240SetStyle4 dd,
div.Grid4 .BoxPatternC dl.ButtonW240SetStyle4 dd { width: 671px; }

div.Grid4 .BoxPatternA div.ImgW60SetStyle div.ImgSet,
div.Grid4 .BoxPatternB div.ImgW60SetStyle div.ImgSet,
div.Grid4 .BoxPatternC div.ImgW60SetStyle div.ImgSet { width: 868px; }

div.Grid4 .BoxPatternA div.ImgW120SetStyle div.ImgSet,
div.Grid4 .BoxPatternB div.ImgW120SetStyle div.ImgSet,
div.Grid4 .BoxPatternC div.ImgW120SetStyle div.ImgSet { width: 808px; }

div.Grid4 .BoxPatternA div.ImgW180SetStyle div.ImgSet,
div.Grid4 .BoxPatternB div.ImgW180SetStyle div.ImgSet,
div.Grid4 .BoxPatternC div.ImgW180SetStyle div.ImgSet { width: 748px; }

div.Grid4 .BoxPatternA div.ImgW230SetStyle div.ImgSet,
div.Grid4 .BoxPatternB div.ImgW230SetStyle div.ImgSet,
div.Grid4 .BoxPatternC div.ImgW230SetStyle div.ImgSet { width: 698px; }

/* ---4: Grid3 & Column3--- */
div.Grid3 dl.ButtonW120SetStyle1 dd,
div.Grid3 dl.ButtonW120SetStyle2 dd,
div.Grid4 div.Column3 dl.ButtonW120SetStyle1 dd,
div.Grid4 div.Column3 dl.ButtonW120SetStyle2 dd { width: 585px; }
div.Grid3 dl.ButtonW180SetStyle1 dd,
div.Grid3 dl.ButtonW180SetStyle2 dd,
div.Grid4 div.Column3 dl.ButtonW180SetStyle1 dd,
div.Grid4 div.Column3 dl.ButtonW180SetStyle2 dd { width: 525px; }
div.Grid3 dl.ButtonW230SetStyle1 dd,
div.Grid3 dl.ButtonW230SetStyle2 dd,
div.Grid4 div.Column3 dl.ButtonW230SetStyle1 dd,
div.Grid4 div.Column3 dl.ButtonW230SetStyle2 dd { width: 475px; }
div.Grid3 dl.ButtonW240SetStyle1 dd,
div.Grid3 dl.ButtonW240SetStyle2 dd,
div.Grid4 div.Column3 dl.ButtonW240SetStyle1 dd,
div.Grid4 div.Column3 dl.ButtonW240SetStyle2 dd { width: 465px; }

div.Grid3 dl.ButtonW120SetStyle3 dd,
div.Grid3 dl.ButtonW120SetStyle4 dd,
div.Grid4 div.Column3 dl.ButtonW120SetStyle3 dd,
div.Grid4 div.Column3 dl.ButtonW120SetStyle4 dd { width: 570px; }
div.Grid3 dl.ButtonW180SetStyle3 dd,
div.Grid3 dl.ButtonW180SetStyle4 dd,
div.Grid4 div.Column3 dl.ButtonW180SetStyle3 dd,
div.Grid4 div.Column3 dl.ButtonW180SetStyle4 dd { width: 510px; }
div.Grid3 dl.ButtonW230SetStyle3 dd,
div.Grid3 dl.ButtonW230SetStyle4 dd,
div.Grid4 div.Column3 dl.ButtonW230SetStyle3 dd,
div.Grid4 div.Column3 dl.ButtonW230SetStyle4 dd { width: 460px; }
div.Grid3 dl.ButtonW240SetStyle3 dd,
div.Grid3 dl.ButtonW240SetStyle4 dd,
div.Grid4 div.Column3 dl.ButtonW240SetStyle3 dd,
div.Grid4 div.Column3 dl.ButtonW240SetStyle4 dd { width: 450px; }

div.Grid3 div.ImgW60SetStyle div.ImgSet,
div.Grid4 div.Column3 div.ImgW60SetStyle div.ImgSet { width: 645px; }
div.Grid3 div.ImgW120SetStyle div.ImgSet,
div.Grid4 div.Column3 div.ImgW120SetStyle div.ImgSet { width: 585px; }
div.Grid3 div.ImgW180SetStyle div.ImgSet,
div.Grid4 div.Column3 div.ImgW180SetStyle div.ImgSet { width: 525px; }
div.Grid3 div.ImgW230SetStyle div.ImgSet,	
div.Grid4 div.Column3 div.ImgW230SetStyle div.ImgSet { width: 475px; }


/* ---Grid3 & Column3 in Box--- */
div.Grid3 .BoxPatternA dl.ButtonW120SetStyle1 dd,
div.Grid3 .BoxPatternB dl.ButtonW120SetStyle1 dd,
div.Grid3 .BoxPatternC dl.ButtonW120SetStyle1 dd,
div.Grid3 .BoxPatternA dl.ButtonW120SetStyle2 dd,
div.Grid3 .BoxPatternB dl.ButtonW120SetStyle2 dd,
div.Grid3 .BoxPatternC dl.ButtonW120SetStyle2 dd,
div.Grid4 div.Column3 .BoxPatternA dl.ButtonW120SetStyle1 dd,
div.Grid4 div.Column3 .BoxPatternB dl.ButtonW120SetStyle1 dd,
div.Grid4 div.Column3 .BoxPatternC dl.ButtonW120SetStyle1 dd,
div.Grid4 div.Column3 .BoxPatternA dl.ButtonW120SetStyle2 dd,
div.Grid4 div.Column3 .BoxPatternB dl.ButtonW120SetStyle2 dd,
div.Grid4 div.Column3 .BoxPatternC dl.ButtonW120SetStyle2 dd { width: 563px; }

div.Grid3 .BoxPatternA dl.ButtonW120SetStyle3 dd,
div.Grid3 .BoxPatternB dl.ButtonW120SetStyle3 dd,
div.Grid3 .BoxPatternC dl.ButtonW120SetStyle3 dd,
div.Grid3 .BoxPatternA dl.ButtonW120SetStyle4 dd,
div.Grid3 .BoxPatternB dl.ButtonW120SetStyle4 dd,
div.Grid3 .BoxPatternC dl.ButtonW120SetStyle4 dd,
div.Grid4 div.Column3 .BoxPatternA dl.ButtonW120SetStyle3 dd,
div.Grid4 div.Column3 .BoxPatternB dl.ButtonW120SetStyle3 dd,
div.Grid4 div.Column3 .BoxPatternC dl.ButtonW120SetStyle3 dd,
div.Grid4 div.Column3 .BoxPatternA dl.ButtonW120SetStyle4 dd,
div.Grid4 div.Column3 .BoxPatternB dl.ButtonW120SetStyle4 dd,
div.Grid4 div.Column3 .BoxPatternC dl.ButtonW120SetStyle4 dd { width: 548px; }

div.Grid3 .BoxPatternA dl.ButtonW180SetStyle1 dd,
div.Grid3 .BoxPatternB dl.ButtonW180SetStyle1 dd,
div.Grid3 .BoxPatternC dl.ButtonW180SetStyle1 dd,
div.Grid3 .BoxPatternA dl.ButtonW180SetStyle2 dd,
div.Grid3 .BoxPatternB dl.ButtonW180SetStyle2 dd,
div.Grid3 .BoxPatternC dl.ButtonW180SetStyle2 dd,
div.Grid4 div.Column3 .BoxPatternA dl.ButtonW180SetStyle1 dd,
div.Grid4 div.Column3 .BoxPatternB dl.ButtonW180SetStyle1 dd,
div.Grid4 div.Column3 .BoxPatternC dl.ButtonW180SetStyle1 dd,
div.Grid4 div.Column3 .BoxPatternA dl.ButtonW180SetStyle2 dd,
div.Grid4 div.Column3 .BoxPatternB dl.ButtonW180SetStyle2 dd,
div.Grid4 div.Column3 .BoxPatternC dl.ButtonW180SetStyle2 dd { width: 503px; }

div.Grid3 .BoxPatternA dl.ButtonW180SetStyle3 dd,
div.Grid3 .BoxPatternB dl.ButtonW180SetStyle3 dd,
div.Grid3 .BoxPatternC dl.ButtonW180SetStyle3 dd,
div.Grid3 .BoxPatternA dl.ButtonW180SetStyle4 dd,
div.Grid3 .BoxPatternB dl.ButtonW180SetStyle4 dd,
div.Grid3 .BoxPatternC dl.ButtonW180SetStyle4 dd,
div.Grid4 div.Column3 .BoxPatternA dl.ButtonW180SetStyle3 dd,
div.Grid4 div.Column3 .BoxPatternB dl.ButtonW180SetStyle3 dd,
div.Grid4 div.Column3 .BoxPatternC dl.ButtonW180SetStyle3 dd,
div.Grid4 div.Column3 .BoxPatternA dl.ButtonW180SetStyle4 dd,
div.Grid4 div.Column3 .BoxPatternB dl.ButtonW180SetStyle4 dd,
div.Grid4 div.Column3 .BoxPatternC dl.ButtonW180SetStyle4 dd { width: 488px; }

div.Grid3 .BoxPatternA dl.ButtonW240SetStyle1 dd,
div.Grid3 .BoxPatternB dl.ButtonW240SetStyle1 dd,
div.Grid3 .BoxPatternC dl.ButtonW240SetStyle1 dd,
div.Grid3 .BoxPatternA dl.ButtonW240SetStyle2 dd,
div.Grid3 .BoxPatternB dl.ButtonW240SetStyle2 dd,
div.Grid3 .BoxPatternC dl.ButtonW240SetStyle2 dd,
div.Grid4 div.Column3 .BoxPatternA dl.ButtonW240SetStyle1 dd,
div.Grid4 div.Column3 .BoxPatternB dl.ButtonW240SetStyle1 dd,
div.Grid4 div.Column3 .BoxPatternC dl.ButtonW240SetStyle1 dd,
div.Grid4 div.Column3 .BoxPatternA dl.ButtonW240SetStyle2 dd,
div.Grid4 div.Column3 .BoxPatternB dl.ButtonW240SetStyle2 dd,
div.Grid4 div.Column3 .BoxPatternC dl.ButtonW240SetStyle2 dd { width: 443px; }

div.Grid3 .BoxPatternA dl.ButtonW240SetStyle3 dd,
div.Grid3 .BoxPatternB dl.ButtonW240SetStyle3 dd,
div.Grid3 .BoxPatternC dl.ButtonW240SetStyle3 dd,
div.Grid3 .BoxPatternA dl.ButtonW240SetStyle4 dd,
div.Grid3 .BoxPatternB dl.ButtonW240SetStyle4 dd,
div.Grid3 .BoxPatternC dl.ButtonW240SetStyle4 dd,
div.Grid4 div.Column3 .BoxPatternA dl.ButtonW240SetStyle3 dd,
div.Grid4 div.Column3 .BoxPatternB dl.ButtonW240SetStyle3 dd,
div.Grid4 div.Column3 .BoxPatternC dl.ButtonW240SetStyle3 dd,
div.Grid4 div.Column3 .BoxPatternA dl.ButtonW240SetStyle4 dd,
div.Grid4 div.Column3 .BoxPatternB dl.ButtonW240SetStyle4 dd,
div.Grid4 div.Column3 .BoxPatternC dl.ButtonW240SetStyle4 dd { width: 428px; }

div.Grid3 .BoxPatternA div.ImgW60SetStyle div.ImgSet,
div.Grid3 .BoxPatternB div.ImgW60SetStyle div.ImgSet,
div.Grid3 .BoxPatternC div.ImgW60SetStyle div.ImgSet,
div.Grid4 div.Column3 .BoxPatternA div.ImgW60SetStyle div.ImgSet,
div.Grid4 div.Column3 .BoxPatternB div.ImgW60SetStyle div.ImgSet,
div.Grid4 div.Column3 .BoxPatternC div.ImgW60SetStyle div.ImgSet { width: 623px; }

div.Grid3 .BoxPatternA div.ImgW120SetStyle div.ImgSet,
div.Grid3 .BoxPatternB div.ImgW120SetStyle div.ImgSet,
div.Grid3 .BoxPatternC div.ImgW120SetStyle div.ImgSet,
div.Grid4 div.Column3 .BoxPatternA div.ImgW120SetStyle div.ImgSet,
div.Grid4 div.Column3 .BoxPatternB div.ImgW120SetStyle div.ImgSet,
div.Grid4 div.Column3 .BoxPatternC div.ImgW120SetStyle div.ImgSet { width: 563px; }

div.Grid3 .BoxPatternA div.ImgW180SetStyle div.ImgSet,
div.Grid3 .BoxPatternB div.ImgW180SetStyle div.ImgSet,
div.Grid3 .BoxPatternC div.ImgW180SetStyle div.ImgSet,
div.Grid4 div.Column3 .BoxPatternA div.ImgW180SetStyle div.ImgSet,
div.Grid4 div.Column3 .BoxPatternB div.ImgW180SetStyle div.ImgSet,
div.Grid4 div.Column3 .BoxPatternC div.ImgW180SetStyle div.ImgSet { width: 503px; }

div.Grid3 .BoxPatternA div.ImgW230SetStyle div.ImgSet,	
div.Grid3 .BoxPatternB div.ImgW230SetStyle div.ImgSet,
div.Grid3 .BoxPatternC div.ImgW230SetStyle div.ImgSet,
div.Grid4 div.Column3 .BoxPatternA div.ImgW230SetStyle div.ImgSet,
div.Grid4 div.Column3 .BoxPatternB div.ImgW230SetStyle div.ImgSet,
div.Grid4 div.Column3 .BoxPatternC div.ImgW230SetStyle div.ImgSet { width: 453px; }

/* --- 5: Column2--- */
div.Grid4 div.Column2 dl.ButtonW120SetStyle1 dd,
div.Grid4 div.Column2 dl.ButtonW120SetStyle2 dd,
div.Grid3 div.Column2 dl.ButtonW120SetStyle1 dd,
div.Grid3 div.Column2 dl.ButtonW120SetStyle2 dd { width: 340px; }

div.Grid4 div.Column2 dl.ButtonW120SetStyle3 dd,
div.Grid4 div.Column2 dl.ButtonW120SetStyle4 dd,
div.Grid3 div.Column2 dl.ButtonW120SetStyle3 dd,
div.Grid3 div.Column2 dl.ButtonW120SetStyle4 dd { width: 325px; }

div.Grid4 div.Column2 dl.ButtonW180SetStyle1 dd,
div.Grid4 div.Column2 dl.ButtonW180SetStyle2 dd,
div.Grid3 div.Column2 dl.ButtonW180SetStyle1 dd,
div.Grid3 div.Column2 dl.ButtonW180SetStyle2 dd { width: 280px; }

div.Grid4 div.Column2 dl.ButtonW180SetStyle3 dd,
div.Grid4 div.Column2 dl.ButtonW180SetStyle4 dd,
div.Grid3 div.Column2 dl.ButtonW180SetStyle3 dd,
div.Grid3 div.Column2 dl.ButtonW180SetStyle4 dd { width: 265px; }

div.Grid4 div.Column2 dl.ButtonW230SetStyle1 dd,
div.Grid4 div.Column2 dl.ButtonW230SetStyle2 dd,
div.Grid3 div.Column2 dl.ButtonW230SetStyle1 dd,
div.Grid3 div.Column2 dl.ButtonW230SetStyle2 dd { width: 230px; }

div.Grid4 div.Column2 dl.ButtonW230SetStyle3 dd,
div.Grid4 div.Column2 dl.ButtonW230SetStyle4 dd,
div.Grid3 div.Column2 dl.ButtonW230SetStyle3 dd,
div.Grid3 div.Column2 dl.ButtonW230SetStyle4 dd { width: 215px; }

div.Grid4 div.Column2 div.ImgW60SetStyle div.ImgSet,
div.Grid3 div.Column2 div.ImgW60SetStyle div.ImgSet { width: 400px; }
div.Grid4 div.Column2 div.ImgW120SetStyle div.ImgSet,
div.Grid3 div.Column2 div.ImgW120SetStyle div.ImgSet { width: 340px; }
div.Grid4 div.Column2 div.ImgW180SetStyle div.ImgSet,
div.Grid3 div.Column2 div.ImgW180SetStyle div.ImgSet { width: 280px; }
div.Grid4 div.Column2 div.ImgW230SetStyle div.ImgSet,
div.Grid3 div.Column2 div.ImgW230SetStyle div.ImgSet { width: 230px; }

/* ---Column2 in Box--- */
div.Grid4 div.Column2 .BoxPatternA dl.ButtonW120SetStyle1 dd,
div.Grid4 div.Column2 .BoxPatternB dl.ButtonW120SetStyle1 dd,
div.Grid4 div.Column2 .BoxPatternC dl.ButtonW120SetStyle1 dd,
div.Grid4 div.Column2 .BoxPatternA dl.ButtonW120SetStyle2 dd,
div.Grid4 div.Column2 .BoxPatternB dl.ButtonW120SetStyle2 dd,
div.Grid4 div.Column2 .BoxPatternC dl.ButtonW120SetStyle2 dd,
div.Grid3 div.Column2 .BoxPatternA dl.ButtonW120SetStyle1 dd,
div.Grid3 div.Column2 .BoxPatternB dl.ButtonW120SetStyle1 dd,
div.Grid3 div.Column2 .BoxPatternC dl.ButtonW120SetStyle1 dd,
div.Grid3 div.Column2 .BoxPatternA dl.ButtonW120SetStyle2 dd,
div.Grid3 div.Column2 .BoxPatternB dl.ButtonW120SetStyle2 dd,
div.Grid3 div.Column2 .BoxPatternC dl.ButtonW120SetStyle2 dd { width: 316px; }

div.Grid4 div.Column2 .BoxPatternA dl.ButtonW120SetStyle3 dd,
div.Grid4 div.Column2 .BoxPatternB dl.ButtonW120SetStyle3 dd,
div.Grid4 div.Column2 .BoxPatternC dl.ButtonW120SetStyle3 dd,
div.Grid4 div.Column2 .BoxPatternA dl.ButtonW120SetStyle4 dd,
div.Grid4 div.Column2 .BoxPatternB dl.ButtonW120SetStyle4 dd,
div.Grid4 div.Column2 .BoxPatternC dl.ButtonW120SetStyle4 dd,
div.Grid3 div.Column2 .BoxPatternA dl.ButtonW120SetStyle3 dd,
div.Grid3 div.Column2 .BoxPatternB dl.ButtonW120SetStyle3 dd,
div.Grid3 div.Column2 .BoxPatternC dl.ButtonW120SetStyle3 dd,
div.Grid3 div.Column2 .BoxPatternA dl.ButtonW120SetStyle4 dd,
div.Grid3 div.Column2 .BoxPatternB dl.ButtonW120SetStyle4 dd,
div.Grid3 div.Column2 .BoxPatternC dl.ButtonW120SetStyle4 dd { width: 301px; }

div.Grid4 div.Column2 .BoxPatternA dl.ButtonW180SetStyle1 dd,
div.Grid4 div.Column2 .BoxPatternB dl.ButtonW180SetStyle1 dd,
div.Grid4 div.Column2 .BoxPatternC dl.ButtonW180SetStyle1 dd,
div.Grid4 div.Column2 .BoxPatternA dl.ButtonW180SetStyle2 dd,
div.Grid4 div.Column2 .BoxPatternB dl.ButtonW180SetStyle2 dd,
div.Grid4 div.Column2 .BoxPatternC dl.ButtonW180SetStyle2 dd,
div.Grid3 div.Column2 .BoxPatternA dl.ButtonW180SetStyle1 dd,
div.Grid3 div.Column2 .BoxPatternB dl.ButtonW180SetStyle1 dd,
div.Grid3 div.Column2 .BoxPatternC dl.ButtonW180SetStyle1 dd,
div.Grid3 div.Column2 .BoxPatternA dl.ButtonW180SetStyle2 dd,
div.Grid3 div.Column2 .BoxPatternB dl.ButtonW180SetStyle2 dd,
div.Grid3 div.Column2 .BoxPatternC dl.ButtonW180SetStyle2 dd { width: 256px; }

div.Grid4 div.Column2 .BoxPatternA dl.ButtonW180SetStyle3 dd,
div.Grid4 div.Column2 .BoxPatternB dl.ButtonW180SetStyle3 dd,
div.Grid4 div.Column2 .BoxPatternC dl.ButtonW180SetStyle3 dd,
div.Grid4 div.Column2 .BoxPatternA dl.ButtonW180SetStyle4 dd,
div.Grid4 div.Column2 .BoxPatternB dl.ButtonW180SetStyle4 dd,
div.Grid4 div.Column2 .BoxPatternC dl.ButtonW180SetStyle4 dd,
div.Grid3 div.Column2 .BoxPatternA dl.ButtonW180SetStyle3 dd,
div.Grid3 div.Column2 .BoxPatternB dl.ButtonW180SetStyle3 dd,
div.Grid3 div.Column2 .BoxPatternC dl.ButtonW180SetStyle3 dd,
div.Grid3 div.Column2 .BoxPatternA dl.ButtonW180SetStyle4 dd,
div.Grid3 div.Column2 .BoxPatternB dl.ButtonW180SetStyle4 dd,
div.Grid3 div.Column2 .BoxPatternC dl.ButtonW180SetStyle4 dd { width: 241px; }

div.Grid4 div.Column2 .BoxPatternA div.ImgW60SetStyle div.ImgSet,
div.Grid4 div.Column2 .BoxPatternB div.ImgW60SetStyle div.ImgSet,
div.Grid4 div.Column2 .BoxPatternC div.ImgW60SetStyle div.ImgSet,
div.Grid3 div.Column2 .BoxPatternA div.ImgW60SetStyle div.ImgSet,
div.Grid3 div.Column2 .BoxPatternB div.ImgW60SetStyle div.ImgSet,
div.Grid3 div.Column2 .BoxPatternC div.ImgW60SetStyle div.ImgSet { width: 376px; }

div.Grid4 div.Column2 .BoxPatternA div.ImgW120SetStyle div.ImgSet,
div.Grid4 div.Column2 .BoxPatternB div.ImgW120SetStyle div.ImgSet,
div.Grid4 div.Column2 .BoxPatternC div.ImgW120SetStyle div.ImgSet,
div.Grid3 div.Column2 .BoxPatternA div.ImgW120SetStyle div.ImgSet,
div.Grid3 div.Column2 .BoxPatternB div.ImgW120SetStyle div.ImgSet,
div.Grid3 div.Column2 .BoxPatternC div.ImgW120SetStyle div.ImgSet { width: 316px; }

div.Grid4 div.Column2 .BoxPatternA div.ImgW180SetStyle div.ImgSet,
div.Grid4 div.Column2 .BoxPatternB div.ImgW180SetStyle div.ImgSet,
div.Grid4 div.Column2 .BoxPatternC div.ImgW180SetStyle div.ImgSet,
div.Grid3 div.Column2 .BoxPatternA div.ImgW180SetStyle div.ImgSet,
div.Grid3 div.Column2 .BoxPatternB div.ImgW180SetStyle div.ImgSet,
div.Grid3 div.Column2 .BoxPatternC div.ImgW180SetStyle div.ImgSet { width: 256px; }

div.Grid4 div.Column2 .BoxPatternA div.ImgW230SetStyle div.ImgSet,
div.Grid4 div.Column2 .BoxPatternB div.ImgW230SetStyle div.ImgSet,
div.Grid4 div.Column2 .BoxPatternC div.ImgW230SetStyle div.ImgSet,
div.Grid3 div.Column2 .BoxPatternA div.ImgW230SetStyle div.ImgSet,
div.Grid3 div.Column2 .BoxPatternB div.ImgW230SetStyle div.ImgSet,
div.Grid3 div.Column2 .BoxPatternC div.ImgW230SetStyle div.ImgSet { width: 208px; }

/* ---Column1.5--- */
div.Grid3 div.Column1andHalf div.ImgW60SetStyle div.ImgSet { width: 273px; }
div.Grid3 div.Column1andHalf div.ImgW120SetStyle div.ImgSet { width: 213px; }

/* ---Column1.5 in Box--- */
div.Grid3 div.Column1andHalf .BoxPatternA div.ImgW60SetStyle div.ImgSet,
div.Grid3 div.Column1andHalf .BoxPatternB div.ImgW60SetStyle div.ImgSet,
div.Grid3 div.Column1andHalf .BoxPatternC div.ImgW60SetStyle div.ImgSet { width: 251px; }

div.Grid3 div.Column1andHalf .BoxPatternA div.ImgW120SetStyle div.ImgSet,
div.Grid3 div.Column1andHalf .BoxPatternB div.ImgW120SetStyle div.ImgSet,
div.Grid3 div.Column1andHalf .BoxPatternC div.ImgW120SetStyle div.ImgSet { width: 191px; }


