@charset "utf-8";

/* **************************************************

Name: wide_module.css

Description: Setting of content module

Create: 2011.10.12
Update: 8888.88.88

Copyright 2011 Hitachi, Ltd. 

***************************************************** */



/* content===========================================

[c1] Page title
[c2] Section title
[c3] Paragraph
[c4] Catch copy
[c5] Image
[c6] Image + Paragraph
[c7] List
[c8] Ordered list
[c9] Additional notes
[c10] Annotations
[c11] Link list
[c12] Menu button
[c13] Icon link
[c14] Data table
[c15] Plug-in download
[c16] Box
[c17] Accentuation
[c18] Contents Navigation
[c19] sequential navigation
[c20] anchor links
[c21] page top navigation
[-] Common class

===================================================== */



/* [c1] Page title
=========================================================================================== */
/* [c2] Section title
=========================================================================================== */
/* [c3] Paragraph
=========================================================================================== */
/* [c4] Catch copy
=========================================================================================== */
/* [c5] Image
=========================================================================================== */
/* [c6] Image + Paragraph
=========================================================================================== */
/* [c7] List
=========================================================================================== */
/* [c8] Ordered list
=========================================================================================== */
/* [c9] Additional notes
=========================================================================================== */
/* [c10] Annotations
=========================================================================================== */
/* [c11] Link list
=========================================================================================== */

/* ---[c11-5-4-1] link list > thumbnail + description > thumbnail 230px > font size:90%--- */
/* ---[c11-5-4-2] link list > thumbnail + description > thumbnail 230px > font size:83%--- */
div.ImgW230SetStyle p.Img {
	float: left;
	width: 230px;
	padding: 0 0 15px;
	margin: 0 15px 0 0;
}
div.ImgW230SetStyle div.ImgSet {
	float: left;
}



/* [c12] Menu button
=========================================================================================== */
/* [c13] Icon link
=========================================================================================== */
/* [c14] Data table
=========================================================================================== */
/* [c15] Plug-in download
=========================================================================================== */
/* [c16] Box
=========================================================================================== */
/* [c17] Accentuation
=========================================================================================== */
/* [cn] Contents Navigation
=========================================================================================== */
/* [c19] sequential navigation
=========================================================================================== */
/* [c20] anchor links
=========================================================================================== */
/* [c21] page top navigation
=========================================================================================== */
/* [-] Common class
=========================================================================================== */
