@charset "utf-8";

/* **************************************************

Name: wide_print.css

Description: Print Setting

Create: 2011.10.12
Update: 8888.88.88

Copyright 2011 Hitachi, Ltd.

***************************************************** */



/* content===========================================

[s1] Header
[s2] Site identity
[sn1] Global navigation
[sn2] Horizontal local navigation
[sn3] Topic Path
[-] Content
[sn4] Vertical local navigation
[sn5] Footer
[t2] Branding image
[xx] Popup page
[c9] Additional notes
[c11] Link list

===================================================== */

body { width: 965px; }
/* Win IE6 lower */
* html body { zoom: 67%; }
/* */



/* [s1] Header
=========================================================================================== */

div#Header {
height: 20px;
width: 965px;
background: url("/image/h1_en/bg_for_print.gif") no-repeat 0 0;
}
div#Header ul#UtilityTools,
div#Header div#Search,
div#Header ul#Region { display: none; }



/* [s2] Site identity
=========================================================================================== */

div#SiteIdentityS {	background:url("/image/h1_en/bg_site_id_small.gif") repeat-x; }
div#SiteIdentityS p.Title {	zoom: 99%; }



/* [sn1] Global navigation
=========================================================================================== */
/* [sn2] Horizontal local navigation
=========================================================================================== */
/* [sn3] Topic path
=========================================================================================== */

div#TopicPath {
margin: 0 auto 8px;
width: 965px;
}
/* IE7 & IE6lower */
* html div#TopicPath { zoom: 98%; }
*:first-child+html div#TopicPath { zoom: 97%; }
/* */



/* [-] Contents
=========================================================================================== */

div#Contents {
display: block;
clear: right;
margin: 0 auto;
width: 965px;
text-align: left;
}
/* IE7 & IE6lower */
* html body div#Contents { margin-bottom: 15px; }
*:first-child+html div#Contents { margin-bottom: 15px; }
/* */



/* [sn4] Vertical local navigation
=========================================================================================== */
/* [sn5] Footer
=========================================================================================== */

div#Footer {
display: block;
float: none;
clear: both;
background: none;
}
div#Footer h2 {display: none; }
div#Footer ul {
display: block;
margin: 3px 0;
padding: 8px 0;
width: 965px;
background: #e6e6e6;
}
div#Footer p {margin: -28px 0 0 0; }



/* [t2] Branding image
=========================================================================================== */

/* ---[c1-2] Branding image > Grid4 > Global Navigation ARI--- */
p#BrandingImgStyle2 { margin: 0 0 20px; }



/* [xx] Popup page
=========================================================================================== */

/* ---[-] Popup header--- */
div#SiteIdentityP {
margin: 0 0 10px;
width: 100%;
height: 54px;
background: url("/image/h1_en/bg_site_id_popup.gif") repeat-x 0 0;
text-align: right;
}
div#SiteIdentityP p {
float: right;
width: 100px;
height: 54px;
background: url("/image/h1_en/bg_corp_id_popup.gif") no-repeat 100% 0;
}
div#SiteIdentityP p img { margin: 1px 1px 0 0; }



/* [c9] Additional notes
=========================================================================================== */

/* ---[c9-1] additional notes list > font size:90%--- */
/* ---[c9-2] additional notes list > font size:83%--- */
/* ---[c9-3] additional notes list > font size:67%--- */
/* Win IE7 & IE6 lower */
* html body dl.AdditionalNotesStyle1 dd { float: none; clear: both; margin: -1.25em 0 5px 1.6em; }
* html body dl.AdditionalNotesStyle2 dd { float: none; clear: both; margin: -1.35em 0 4px 1.6em; }
* html body dl.AdditionalNotesStyle3 dd { float: none; clear: both; margin: -1.3em 0 3px 1.6em; }
*:first-child+html dl.AdditionalNotesStyle1 dd { float: none; clear: both; margin: -1.25em 0 5px 1.6em; }
*:first-child+html dl.AdditionalNotesStyle2 dd { float: none; clear: both; margin: -1.35em 0 4px 1.6em; }
*:first-child+html dl.AdditionalNotesStyle3 dd { float: none; clear: both; margin: -1.3em 0 3px 1.6em; }
/* */



/* [c11] Link list
=========================================================================================== */

/* IE7 & IE6lower */
* html div.ImgSet {zoom: 98%; }
*:first-child+html div.ImgSet {zoom: 97%; }
/* */


