@charset "UTF-8";

/* **************************************************

Name: common2.css

***************************************************** */
/*Header
===================================================*/
.header-top .logo{
    height: 45px;
    display: flex;
    align-items: center;
}
.header-top .header-action{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    list-style: none;
}
.header-top .header-action li{
    height: 100%;
}
.header-top .header-action li a{
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-top .header-action li a.active,
.header-top .header-action li a:hover{
    background: #f4f4f4;
}
.header-top .header-action li a span{
    padding-left: 8px;
    font-size: 14px;
    color: #222;
}
.search-wrap{
    background: #f4f4f4;
}
.search-wrap form{
    margin: 0 auto;
    padding: 40px 0 25px 0;
    max-width: 90%;
    width: 900px;
    display: flex;
    align-items: center;
    position: relative;
}
.search-wrap form input{
    width: calc(100% - 200px);
    height: 38px;
    background: #fff;
    border: none !important;
    outline: none !important;
    padding: 0 10px;
}
.search-wrap form .SearchBtn{
    width: 200px;
    height: 38px;
    background: #CC0000;
    color: #fff;
    border: none;
    cursor: pointer;
}
.search-wrap form .close-search{
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 1;
    cursor: pointer;
}
.search-wrap form .close-search:hover{
    color: #CC0000;
}
.header-bottom{
    background: #f2f2f2;
}
.header-bottom .site-slogun{
    height: 60px;
    display: flex;
    align-items: center;
    color: #222;
    font-weight: bold;
}
.header-bottom .site-slogun:hover{
    color: #CC0000;
}
.header-menu{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-menu>li>a{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
    padding: 0 20px;
    transition: all 350ms;
}
.header-menu>li>a.active,
.header-menu>li>a:hover{
    color: #fff;
    background: #CC0000;
}
.header-menu>li.mega-menu>a{
    padding-right: 50px;
    position: relative;
}
.header-menu>li.mega-menu>a img{
    position: absolute;
    right: 25px;
    top: 28px;
    transition: all 150ms;
    opacity: 0;
}
.header-menu>li.mega-menu>a img.close{
    opacity: 1;
}
.header-menu>li.mega-menu>a.active img.close,
.header-menu>li.mega-menu>a:hover img.close{
    opacity: 0;
}
.header-menu>li.mega-menu>a.active img.open,
.header-menu>li.mega-menu>a:hover img.open{
    opacity: 1;
}
header{
    position: relative;
}
.mega-menu-panel{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    border-top: 1px solid #dbdbdb;
    width: 100%;
    background: #fff;
}
.mega-menu-panel.active{
    opacity: 1;
    visibility: visible;
}
.mega-menu-panel .tab-content a{
    font-weight: bold;
    display: inline-block;
}
.mega-menu-panel .tab-content a:after{
    content: '→';
    margin-left: 10px;
    font-size: 20px;
    transition: all 250ms;
}
.mega-menu-panel .tab-content a:hover:after{
    margin-left: 15px;
}
/* Home Banner
============================================================================================ */
#section-banner{
    padding: 200px 0 35px 0;
}
#section-banner .banner-text{
    max-width: 620px;
    padding: 25px;
    background: #f4f4f4;
    opacity: 0.9;
    border-radius: 5px;
}
#section-banner .banner-text h1{
    color: #222;
    margin-bottom: 20px;
}
#section-banner .banner-text p{
    color: #222;
    margin-bottom: 20px;
}
#section-banner .banner-text a{
    display: inline-block;
    color: #fff;
    background-color: #CC0000;
    padding: 0 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 300;
    height: 44px;
    line-height: 44px;
}
#section-banner .banner-text a img{
    margin-left: 20px;
    margin-top: 15px;
}
/* Tab-content
================================================================== */
.tabs {
    margin-top: 30px;
}
.tabs .tab-menu{
    padding: 0;
}
.tabs .tab-menu li{
    list-style: none;
}
.tabs .tab-menu li a{
    color: #000;
    padding: 8px 30px;
    position: relative;
    border-radius: 5px;
}
.tabs .tab-menu li a:before{
    content: '';
    height: 50%;
    width: 3px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.tabs .tab-menu li a.active{
    background-color: #CC0000;
    color: #fff;
}
.tabs .tab-menu li a.active:before{
    background-color: #fff;
}
.tabs .tab-menu li a:not(.active):hover{
    color: #CC0000;
}
.tabs .tab-menu li a:not(.active):hover:before{
    background-color: #CC0000;
}
.tabs .tab-content{
    padding: 30px;
}
.tabs .tab-content .tab-item .tab-item-action{
    color: #000;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.tabs .tab-content .tab-item .tab-item-action:hover{
    color: #CC0000;
}
.tabs .tab-content .tab-item{
    display: none;
}
.tabs .tab-content .tab-item.active{
    display: block;
}
.tabs .tab-content .tab-item .tab-item-action img{
    margin-left: 15px;
}
/* Article */
.articles article{
    margin-bottom: 15px;
}
.articles article .article-inner{
    background-color: #f4f4f4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.articles article .title a{
    color: #000;
    font-size: 24px;
    font-weight: normal;
}
.articles article .article-inner h3.title {
    font-weight: normal;
}
.articles article .title a:hover{
    color: #CC0000;
}
.articles article .article-inner .wrap-content{
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
/* Article with icon box */
.articles.icon-box .wrap-image{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
}
/*Tab style 2*/
.tabs.style-2 .tab-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    background: #D9D9D9;
    border-radius: 5px;
}
.tabs.style-2 .tab-menu li a:before {
    content: none;
}
.tabs.style-2 .tab-content {
    border-radius: 5px;
}
/*Tab style 3*/
.tabs.style-3 .tab-content{
    padding: 0;
}
.tabs.style-3 .tab-content h3{
    font-weight: normal;
} 
.tabs.style-3 .tab-content .wrap-content{
    padding: 20px 30px;
}
/*Tab style 4*/
.tabs.style-4{
    margin: 0;
}
.tabs.style-4 .tab-wrap{
    z-index: 2;
    position: relative;
}
.tabs.style-4 .tab-menu li a:before{
    width: 64px;
    height: 2px;
    left: auto;
    right: -40px;
    background-color: #CC0000;
    opacity: 0;
}
.tabs.style-4 .tab-menu li a {
    padding: 8px 20px;
}
.tabs.style-4 .tab-menu li a.active {
    background: none;
    color: #CC0000;
    text-decoration: underline;
}
.tabs.style-4 .tab-menu li a:hover:before,
.tabs.style-4 .tab-menu li a.active:before {
    opacity: 1;
}
.tabs.style-4 .tab-content{
    padding: 30px 60px;
}
.tabs.style-4 .tab-content a{
    color: #222;
}
.tabs.style-4 .tab-content a:hover{
    color: #CC0000;
}
.left-bg{
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
}
.left-bg:before{
    content: '';
    height: 100%;
    width: 5000px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background: #f2f2f2;
}
/*Slick slider
=======================================================*/
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-slider .ab-carousel-btn {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #f7cb16;
    opacity: 1;
    width: 53px;
    height: 55px;
    cursor: pointer;
    border-radius: 50%;
}
.slick-slider .ab-carousel-btn i {
    display: block;
    width: 24px;
    height: 14px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.slick-slider .ab-carousel-btn.prev-item {
    left: -18px;
}
.slick-slider .ab-carousel-btn.prev-item i {
    transform: rotate(-180deg);
}
.slick-slider .ab-carousel-btn.next-item {
    right: 5px;
}
.slick-slider ul.slick-dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 18px 0 !important;
}
.slick-slider ul.slick-dots li {
    margin: 0 6px;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    padding: 0 !important;
}
.slick-slider ul.slick-dots li.slick-active {
    width: 8px;
    height: 8px;
    background: #000;
}
.slick-slider ul.slick-dots li button {
    display: none;
}
.slick-slider:hover .ab-carousel-btn {
    opacity: 0.8;
    visibility: visible;
}
.custom-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}
.custom-nav div{
    width: 30px;
    height: 30px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 0 20px;
    cursor: pointer;
}
.custom-nav div:hover{
    background: #CC0000;
}
#section-news-article .wrap-content p {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}
#section-news-article .wrap-content{
    padding-bottom: 60px;
}
#section-news-article .wrap-content p.redirect-link {
    display: inline-block;
    margin: 15px 0;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
#section-news-article .wrap-content p a{
    width: 30px;
    height: 30px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
#section-news-article .wrap-content p a:hover{
    background: #CC0000;
}
/* Ready to Optimize
=========================================== */
#section-ready-to-optimize{
    padding: 40px 0;
}
#section-ready-to-optimize h2{
    color: #fff;
    padding-left: 40px;
}
#section-ready-to-optimize p{
    color: #fff;
    padding-left: 40px;
}
#section-ready-to-optimize .schedule{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section-ready-to-optimize .schedule a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border-radius: 30px;
    background: #fff;
    color: #CC0000;
    padding: 0 20px;
}
#section-ready-to-optimize .schedule a img{
    margin-left: 15px;
}
/* Footer
============================================== */
#footer-top{
    margin-top: 120px;
    padding-bottom: 150px;
}
#footer-top .Container{
    position: relative;
}
#back-to-top{
    position: absolute;
    right: 0;
    top: -35px;
    z-index: 1;
    cursor: pointer;
}
.menu-item-top{
    border-left: 5px solid #CC0000;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-item-top a{
    display: flex;
    align-items: center;
    color: #000;
}
.menu-item-top a:hover{
    color: #CC0000;
}
.menu-item-top a img{
    margin-left: 20px;
}

.menu-footer{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.menu-footer li{
    list-style: none;
}
.menu-footer a{
    display: flex;
    align-items: center;
    color: #000;
    padding: 10px 0;
}
.menu-footer a:hover{
    color: #CC0000;
}
.menu-footer a img{
    margin-left: 20px;
}
.menu-footer>li>a{
    font-weight: 600;
}
.menu-footer .sub-menu{
    display: flex;
    flex-wrap: wrap;
}
.menu-footer .sub-menu li{
    width: 50%;
}
.footer-bottom{
    padding: 30px 0;
}
.socials{
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.socials li{
    list-style-type: none;
    margin-right: 25px;
}
.socials li img{
    max-width: 25px;
}
.menu-bottom-footer{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.menu-bottom-footer li{
    margin-left: 25px;
}
.menu-bottom-footer a{
    display: flex;
    align-items: center;
    color: #000;
    padding: 10px 0;
    font-size: 14px;
}
.menu-bottom-footer a:hover{
    color: #CC0000;
}
.copyrighter{
    margin-top: 30px;
}
@media(max-width: 767px){
    .menu-footer .sub-menu li {
        width: 100%;
    }
}
/*Breadcrumb
=========================================*/
.breadcrumb{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.breadcrumb li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.breadcrumb a{
    display: flex;
    align-items: center;
    color: #000;
    padding: 10px 0;
}
.breadcrumb a:hover{
    color: #CC0000;
}
.breadcrumb li img{
    margin-left: 20px;
}
.breadcrumb li:first-child a{
    color: #CC0000;
}
.mobile-menu-toggle{
    display: none;
}
/*Mobile menu
=======================================*/
.mobile-menu{
    display: none;
    border-top: 1px solid #dbdbdb;
    max-height: calc(100vh - 45px);
    overflow-y: auto;
}
.mobile-menu.active{
    display: block;
}
.mobile-menu ul.menu{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.mobile-menu ul.menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    position: relative;
}
.mobile-menu ul.menu li a{
    color: #222;
}
.mobile-menu ul.menu li .sub-arrow{
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23222222' stroke-width='2'%3E%3Cline x1='12' y1='5' x2='12' y2='19'/%3E%3Cline x1='5' y1='12' x2='19' y2='12'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
}
.mobile-menu ul.menu li.active .sub-arrow{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2'%3E%3Cline x1='5' y1='12' x2='19' y2='12'/%3E%3C/svg%3E%0A");
}
.mobile-menu ul.menu li.has-chilrent.active{
    background: #CC0000;
}
.mobile-menu ul.menu li.active >a{
    color: #fff;
}
.mobile-menu ul.menu li .sub-menu{
    width: 100%;
    background: #fff;
    padding: 0;
}
.mobile-menu ul.menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px 10px;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #d1d1d1;
}
.mobile-menu ul.menu li.has-chilrent{
    background: #f4f4f4;
}
.mobile-menu ul.menu li.has-chilrent ul{
    display: none;
    margin: 10px -10px -15px -10px;
    width: calc(100% + 20px);
}
.mobile-menu ul.menu li.has-chilrent ul li:last-child{
    border: none;
}
.mobile-menu ul.menu li.has-chilrent.active ul{
    display: block;
}
.mobile-menu ul.menu li.has-chilrent ul li a{
    position: relative;
    padding-right: 50px;
    display: block;
    width: 100%;
}
.mobile-menu ul.menu li.has-chilrent ul li a:after{
    content: '→';
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 1;
}
@media(max-width: 1024px){
    .mega-menu-panel,
    .header-top .header-action .languages,
    .header-top .header-action .contact,
    .header-top .header-action .search-toggle span,
    .header-bottom{
        display: none;
    }
    li.mobile-menu-toggle{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #CC0000;
        color: #fff;
        width: 45px;
        height: 45px;
        margin-right: -10px;
    }
    .mobile-menu-toggle .icon-close{
        display: none;
        font-size: 26px;
    }
    .mobile-menu-toggle.active .icon-close{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile-menu-toggle.active .icon-hamburger{
        display: none;
    }
    .breadcrumb a {
        padding: 0px;
    }
    .breadcrumb{
        padding: 10px 0;
    }
    .header-top{
        border-bottom: 1px solid #f4f4f4;
    }
}
@media(min-width: 1025px){
    .mobile-menu.active {
        display: none;
    }
}
